In [1]:
# Data cleaning process
import pandas as pd

In [2]:
# Originally imported a tar file but it was way too big. So I saved it as a csv, which made it much cheaper computationally.
# Now time to try to read this file

In [4]:
df = pd.read_csv("newfile")

In [5]:
import re

Loading the head of the DF it has a lot of info, headers of emails, subjects, just unneeded stuff.

In [6]:
# looking over df to see what it looks like. Time to delete some stuff 
df

,Unnamed: 0,maildir/
0,Date: Fri,14 Sep 2001 14:05:43 -0700 (PDT)
1,From: fran.fagan@enron.com,NaN
2,To: lynn.blair@enron.com,NaN
3,Subject: FW: Promotions and Transfers- Gas Log...,NaN
4,Mime-Version: 1.0,NaN
...,...,...
25680003,To: George Robinson/OTS/Enron@ENRON,NaN
25680004,cc:,NaN
25680005,Subject: Newspaper,NaN
25680006,I hope this works. MM,NaN
25680007,NaN,NaN

In [7]:
# I made a pattern using regex to select all emails (Need to get rid of them)
pattern = "^\w+:\s+[\w.+-]+@[\w-]+\.[\w.-]+"

In [9]:
# creating an initial filter to drop emails 
filt = df['Unnamed: 0'].str.contains(pattern)

In [ ]:
# Looking over the data

In [10]:
# Now filter for data that was not in the filter

In [ ]:
df = df[~filt]

In [13]:
#Can not have those NaN values I guess
filt = df['Unnamed: 0'].str.contains(pattern,na=False)

In [14]:
# Way better
df = df[~filt]

In [15]:
# Now to save the DF so I can continue 
df.to_csv("Filtering_step_1.csv")

KeyboardInterrupt:

In [ ]:
######################################################
# Start from here

In [16]:
# Data cleaning process
import pandas as pd
import re

In [17]:
# Now I can load a smaller set
df1=pd.read_csv('Filtering_step_1.csv')

In [ ]:
# continuing to filter the Df today

In [18]:
# Now to get rid of to 
pattern = "^\w+:\s+[\w.+-]+.\s+[\w.+-]+.*?ENRON"

In [19]:
filt = df1['Unnamed: 0'].str.contains(pattern,na=False)

In [20]:
df = df1[~filt]

In [21]:
df

,Unnamed: 0.1,Unnamed: 0,maildir/
0,0,Date: Fri,14 Sep 2001 14:05:43 -0700 (PDT)
1,3,Subject: FW: Promotions and Transfers- Gas Log...,NaN
2,4,Mime-Version: 1.0,NaN
3,5,Content-Type: text/plain; charset=us-ascii,NaN
4,6,Content-Transfer-Encoding: 7bit,NaN
...,...,...,...
6322589,6597107,> too.,NaN
6322590,6597108,>,NaN
6322591,6597109,> > -----Original Message-----,NaN
6322592,6597110,> > From: Mark A. Junell [SMTP:mark@junell.cc],NaN
6322593,6597111,> > Sent: Monday,June 05

In [22]:
# Now to get rid of Subject
pattern = "Subject:.*($|\s)"

In [23]:
filt = df['Unnamed: 0'].str.contains(pattern,na=False)

C:\Users\amcfa\AppData\Local\Temp\ipykernel_9580\136869285.py:1: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  filt = df['Unnamed: 0'].str.contains(pattern,na=False)

In [24]:
df1 = df[~filt]

In [25]:
df1.head(20)

,Unnamed: 0.1,Unnamed: 0,maildir/
0,0,Date: Fri,14 Sep 2001 14:05:43 -0700 (PDT)
2,4,Mime-Version: 1.0,NaN
3,5,Content-Type: text/plain; charset=us-ascii,NaN
4,6,Content-Transfer-Encoding: 7bit,NaN
5,7,X-From: Fagan,Fran </O=ENRON/OU=NA/CN=RECIPIENTS/CN=FFAGAN>
6,8,X-To: Blair,Lynn </O=ENRON/OU=NA/CN=RECIPIENTS/CN=Lblair>
7,9,X-cc:,NaN
8,10,X-bcc:,NaN
9,11,X-Folder: \LBLAIR (Non-Privileged)\Blair,Lynn\Personnel - Promotions
10,12,X-Origin: Blair-L,NaN
11,13,X-FileName: LBLAIR (Non-Privileged).pst,NaN
12,14,Name\t\t\tNew Title\t\t\t\tEffective Date\t\t\...,NaN
13,15,Floyd,Jodie\t\tSr Cust Svc Rep (no change)\t\t7/16/...
14,16,Buehler,Craig\t\tSr Mkt/Sup Analyst (no change)\t\t7/...
15,17,Wagoner,Mike\t\tTeam Advisor - Gas Control\t\t7/1/01\...
16,18,Clapper,Karen\t\tSr Cust Svc Rep\t\t\t8/1/01\t\t\t\tYes
17,19,Greaney,Chris\t\tSr Cust Svc Rep\t\t\t8/1/01\t\t\t\tYes
18,20,Wilkens,Jerry\t\tSr Cust Svc Rep\t\t\t8/1/01\t\t\t\tYes
19,21,Minton,Kevin\t\tPipeline Controller\t\t\t8/1/01\t\t\...
20,22,Cox,Don\t\tPipeline Controller\t\t\t8/1/01\t\t\t\...

In [26]:
df.loc[0,"Unnamed: 0"]

'Date: Fri'

In [27]:
new_df = pd.DataFrame(columns=['Dates', 'Times', 'Messages'])

In [28]:
len(new_df['Dates'])

0

In [29]:
new_df = pd.DataFrame(columns=['Dates', 'Times', 'Messages'])
# First regex
dates = r"Date:.*$"
# Filtering the times
times = r"^.*?(PDT)."
# Now this might work to filter out a bunch of stuff(Anything that does not have :)
messages = r"^(?!.*:).*"
# Now Content type

steps = dates,times,messages

In [30]:

filtdate = []
if len(new_df['Dates']) == 0:
    filt = df['Unnamed: 0'].str.contains(dates,na=False)
    filtdate = filt[0]

In [31]:
# For now just access this element. Later come back and work on popping out the False elements. If all other rows are true
filtdate

True

In [32]:
df3 = df[filt]

In [33]:
# That went differently
df3=df3.rename(columns={"Unnamed: 0.1": "Message","Unnamed: 0": "Day", "maildir/": "Date_and_time"})

In [34]:
# Now I have something to use to search a list of indexes
searching=df3.index.values

In [ ]:
import numpy as np

In [35]:
# made some variables
i = searching[1]
j = searching[2]

In [36]:
# Made it into a list
again=list(searching)

In [37]:
# Okay so start and stop seem to work
start=df1.index[i]
stop=df1.index[j]

In [38]:
# Now breaking the df into small chunks
spacer= df1.iloc[i:j]

In [39]:
# regex for detecting hopefully messages
messages = r"^(?!.*:).*"

In [40]:
# Now filtering this first small chunk
filt = spacer['Unnamed: 0'].str.contains(messages,na=False)

In [41]:
i = searching[1]
j = searching[2]

In [42]:
spacer= df1.iloc[i:j]

In [43]:
filt = spacer['Unnamed: 0'].str.contains(messages,na=False)

In [44]:
pattern = "^.*?enron.com"
filt = df['Unnamed: 0'].str.contains(pattern,na=False)

In [45]:
df1 = df[~filt]

In [46]:
dates = r"Date:.*$"
# Filtering the times
times = r"^.*?(PDT)."
# Now this might work to filter out a bunch of stuff(Anything that does not have :)
messages = r"^(?!.*:).*"
# Now Content type

steps = dates,times,messages
i = searching[1]
j = searching[2]
spacer= df1.iloc[i:j]
filt = spacer['Unnamed: 0'].str.contains(messages,na=False)

In [47]:
# Applied the tiny spacer and filterer
filterer = spacer[filt]

In [48]:
filterer

    Unnamed: 0.1 Unnamed: 0 maildir/
36            41     Thanks      NaN
37            42     Maggie      NaN

In [49]:
# Filtered it and now have the actual sections I need
selection=filterer['Unnamed: 0']

In [50]:
df3

         Message                Day                      Date_and_time
0              0          Date: Fri   14 Sep 2001 14:05:43 -0700 (PDT)
25            27          Date: Mon   10 Sep 2001 10:33:15 -0700 (PDT)
38            43          Date: Mon   20 Aug 2001 12:34:19 -0700 (PDT)
61            67          Date: Thu    5 Jul 2001 08:35:29 -0700 (PDT)
80            88          Date: Thu   26 Jul 2001 08:16:14 -0700 (PDT)
...          ...                ...                                ...
6322329  6596836          Date: Tue   22 May 2001 18:30:00 -0700 (PDT)
6322436  6596945          Date: Thu   23 Mar 2000 13:51:00 -0800 (PST)
6322464  6596975          Date: Tue   11 Jul 2000 09:34:00 -0700 (PDT)
6322487  6597000  Effective Date:                                  NaN
6322501  6597014          Date: Tue    6 Jun 2000 11:11:00 -0700 (PDT)

[133394 rows x 3 columns]

In [51]:
# Append to DF3, but need to add rows so there is somewhere for it to go
print(selection)

36    Thanks
37    Maggie
Name: Unnamed: 0, dtype: object

In [52]:
selection = pd.DataFrame(selection)

In [53]:
selection=selection.rename(columns={"Unnamed: 0": "Message"})

In [54]:
df4 = df3.append(selection, ignore_index=False)

C:\Users\amcfa\AppData\Local\Temp\ipykernel_9580\2378986429.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df4 = df3.append(selection, ignore_index=False)

In [55]:
# yeah progress
df4.sort_index()

         Message                Day                      Date_and_time
0              0          Date: Fri   14 Sep 2001 14:05:43 -0700 (PDT)
25            27          Date: Mon   10 Sep 2001 10:33:15 -0700 (PDT)
36        Thanks                NaN                                NaN
37        Maggie                NaN                                NaN
38            43          Date: Mon   20 Aug 2001 12:34:19 -0700 (PDT)
...          ...                ...                                ...
6322329  6596836          Date: Tue   22 May 2001 18:30:00 -0700 (PDT)
6322436  6596945          Date: Thu   23 Mar 2000 13:51:00 -0800 (PST)
6322464  6596975          Date: Tue   11 Jul 2000 09:34:00 -0700 (PDT)
6322487  6597000  Effective Date:                                  NaN
6322501  6597014          Date: Tue    6 Jun 2000 11:11:00 -0700 (PDT)

[133396 rows x 3 columns]

In [56]:
searching

array([      0,      25,      38, ..., 6322464, 6322487, 6322501],
      dtype=int64)

In [57]:
dates = r"Date:.*$"
# Filtering the times
times = r"^.*?(PDT)."
# Now this might work to filter out a bunch of stuff(Anything that does not have :)
messages = r"^(?!.*:).*"
# Now Content type


i = searching[1]
j = searching[2]
spacer= df1.iloc[i:j]
filt = spacer['Unnamed: 0'].str.contains(messages,na=False)

In [58]:
searching=df3.index.values

In [59]:
searching =list(searching)

In [60]:
# start with an array

searching=df3.index.values
searcher = searching
i =0
j = 0

In [61]:
len(searcher)

133394

In [62]:
searcher = searching

In [63]:
searcher

array([      0,      25,      38, ..., 6322464, 6322487, 6322501],
      dtype=int64)

In [64]:
i =searcher[0]
j = searcher[1]

In [ ]:
i

In [65]:
# init list
box = []

In [66]:
box.append(i)
box.append(j)

In [67]:
spacer= df1.loc[i:j]

In [68]:

filt = spacer['Unnamed: 0'].str.contains(messages,na=False) 
filterer = spacer[filt] # apply that spacer
selection=filterer['Unnamed: 0'] #Select
selection = pd.DataFrame(selection)
selection=selection.rename(columns={"Unnamed: 0": "Message"}) # Rename cols
df5 = df3.append(selection, ignore_index=False) # append to my df
df5 = df5.sort_index() # sort index

C:\Users\amcfa\AppData\Local\Temp\ipykernel_9580\104354651.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df5 = df3.append(selection, ignore_index=False) # append to my df

In [69]:
searcher

array([      0,      25,      38, ..., 6322464, 6322487, 6322501],
      dtype=int64)

In [70]:
searcher =list(searcher)

In [71]:
searcher

[0,
 25,
 38,
 61,
 80,
 96,
 114,
 146,
 160,
 177,
 200,
 222,
 238,
 255,
 361,
 386,
 400,
 419,
 459,
 475,
 498,
 521,
 539,
 555,
 578,
 603,
 620,
 638,
 651,
 677,
 697,
 714,
 738,
 768,
 800,
 821,
 847,
 867,
 888,
 929,
 947,
 974,
 1009,
 1022,
 1051,
 1067,
 1079,
 1093,
 1161,
 1178,
 1211,
 1225,
 1244,
 1267,
 1285,
 1301,
 1342,
 1365,
 1380,
 1408,
 1423,
 1448,
 1463,
 1480,
 1505,
 1529,
 1551,
 1565,
 1684,
 1705,
 1788,
 1815,
 1846,
 1866,
 1885,
 1900,
 1914,
 1937,
 1963,
 1980,
 2008,
 2033,
 2049,
 2065,
 2139,
 2156,
 2185,
 2278,
 2304,
 2348,
 2376,
 2392,
 2428,
 2442,
 2467,
 2540,
 2554,
 2568,
 2582,
 2601,
 2613,
 2630,
 2647,
 2661,
 2673,
 2685,
 2697,
 2711,
 2726,
 2743,
 2761,
 2782,
 2799,
 2815,
 2831,
 2843,
 2863,
 2878,
 2951,
 2970,
 2984,
 2999,
 3012,
 3028,
 3042,
 3057,
 3071,
 3088,
 3107,
 3122,
 3148,
 3175,
 3205,
 3233,
 3254,
 3280,
 3306,
 3387,
 3430,
 3449,
 3465,
 3479,
 3496,
 3526,
 3541,
 3563,
 3665,
 3699,
 3729,
 3742,
 3761,
 3780,
 3798,
 3815,
 3829,
 3910,
 3936,
 3951,
 3979,
 3994,
 4012,
 4028,
 4053,
 4071,
 4085,
 4114,
 4143,
 4157,
 4173,
 4196,
 4209,
 4264,
 4283,
 4299,
 4318,
 4335,
 4347,
 4378,
 4393,
 4442,
 4459,
 4485,
 4500,
 4516,
 4545,
 4564,
 4611,
 4643,
 4692,
 4708,
 4722,
 4745,
 4750,
 4773,
 4808,
 4828,
 4847,
 4870,
 4885,
 4985,
 5040,
 5169,
 5183,
 5208,
 5259,
 5301,
 5325,
 5350,
 5373,
 5386,
 5405,
 5443,
 5458,
 5489,
 5507,
 5523,
 5549,
 5603,
 5619,
 5634,
 5662,
 5684,
 5700,
 5730,
 5746,
 5771,
 5805,
 5841,
 5862,
 5880,
 5902,
 5921,
 5942,
 6003,
 6023,
 6036,
 6043,
 6048,
 6061,
 6084,
 6099,
 6125,
 6149,
 6161,
 6201,
 6228,
 6252,
 6270,
 6353,
 6366,
 6386,
 6474,
 6531,
 6575,
 6605,
 6636,
 6654,
 6672,
 6687,
 6703,
 6717,
 6732,
 6746,
 6769,
 6789,
 6803,
 6822,
 6838,
 6866,
 6881,
 6893,
 6923,
 6943,
 6975,
 6990,
 7006,
 7023,
 7044,
 7059,
 7087,
 7117,
 7137,
 7149,
 7162,
 7188,
 7207,
 7237,
 7327,
 7344,
 7365,
 7395,
 7444,
 7458,
 7500,
 7512,
 7544,
 7557,
 7568,
 7605,
 7626,
 7657,
 7672,
 7708,
 7727,
 7748,
 7776,
 7791,
 7827,
 7863,
 7883,
 7899,
 7915,
 7949,
 7970,
 7995,
 8009,
 8026,
 8047,
 8068,
 8104,
 8118,
 8133,
 8157,
 8174,
 8218,
 8247,
 8262,
 8279,
 8323,
 8342,
 8365,
 8380,
 8400,
 8436,
 8492,
 8526,
 8541,
 8555,
 8572,
 8609,
 8625,
 8644,
 8658,
 8682,
 8705,
 8724,
 8786,
 8808,
 8840,
 8859,
 8900,
 8920,
 8933,
 8948,
 8965,
 8984,
 9026,
 9043,
 9088,
 9105,
 9118,
 9139,
 9154,
 9189,
 9222,
 9237,
 9250,
 9266,
 9290,
 9310,
 9346,
 9374,
 9398,
 9417,
 9438,
 9486,
 9500,
 9526,
 9540,
 9568,
 9582,
 9605,
 9659,
 9679,
 9697,
 9712,
 9756,
 9771,
 9784,
 9809,
 9842,
 9857,
 9886,
 9903,
 9930,
 9951,
 9975,
 9999,
 10013,
 10048,
 10062,
 10098,
 10120,
 10163,
 10177,
 10192,
 10216,
 10263,
 10296,
 10319,
 10339,
 10361,
 10374,
 10405,
 10499,
 10514,
 10556,
 10572,
 10589,
 10608,
 10629,
 10652,
 10672,
 10685,
 10705,
 10733,
 10747,
 10761,
 10813,
 10828,
 10845,
 10876,
 10896,
 10911,
 10938,
 10970,
 10997,
 11029,
 11053,
 11136,
 11151,
 11167,
 11185,
 11207,
 11260,
 11291,
 11307,
 11326,
 11338,
 11394,
 11412,
 11427,
 11483,
 11495,
 11524,
 11539,
 11569,
 11586,
 11610,
 11626,
 11646,
 11662,
 11685,
 11701,
 11744,
 11810,
 11831,
 11844,
 11859,
 11882,
 11897,
 11917,
 12036,
 12143,
 12166,
 12191,
 12229,
 12246,
 12278,
 12302,
 12334,
 12380,
 12400,
 12558,
 12574,
 12688,
 12790,
 12831,
 13000,
 13043,
 13108,
 13221,
 13241,
 13254,
 13284,
 13298,
 13312,
 13327,
 13352,
 13367,
 13371,
 13386,
 13390,
 13405,
 13409,
 13424,
 13428,
 13442,
 13446,
 13461,
 13465,
 13480,
 13484,
 13499,
 13503,
 13518,
 13522,
 13537,
 13541,
 13556,
 13560,
 13575,
 13579,
 13593,
 13597,
 13612,
 13616,
 13631,
 13635,
 13650,
 13654,
 13667,
 13671,
 13686,
 13690,
 13706,
 13710,
 13725,
 13729,
 13744,
 13748,
 13763,
 13767,
 13783,
 13787,
 13802,
 13806,
 13820,
 13824,
 13839,
 13843,
 13858,
 13862,
 13877,
 13881,
 13896,
 13900,
 13915,
 13919,
 13933,
 13937,
 13952,
 13956,
 13970,
 13974,
 13989,
 13993,
 14007,
 14011,
 14026,
 14030,
 14044,
 14048,
 14063,
 14067,
 14082,
 14086,
 14101,
 14105,
 14120,
 14124,
 14139,
 14143,
 14157,
 14161,
 14176,
 14180,
 14195,
 14199,
 14214,
 14218,
 14233,
 14238,
 14253,
 14257,
 14272,
 14276,
 14291,
 14295,
 14309,
 14313,
 14328,
 14332,
 14347,
 14351,
 14366,
 14370,
 14384,
 14388,
 14403,
 14407,
 14422,
 14425,
 14438,
 14442,
 14457,
 14461,
 14476,
 14480,
 14495,
 14499,
 14513,
 14517,
 14532,
 14536,
 14551,
 14555,
 14570,
 14574,
 14587,
 14591,
 14606,
 14610,
 14625,
 14629,
 14644,
 14648,
 14663,
 14667,
 14682,
 14686,
 14701,
 14705,
 14720,
 14724,
 14739,
 14743,
 14758,
 14762,
 14777,
 14781,
 14796,
 14800,
 14815,
 14819,
 14834,
 14838,
 14853,
 14857,
 14872,
 14876,
 14891,
 14895,
 14910,
 14914,
 14930,
 14934,
 14949,
 14953,
 14968,
 14972,
 14987,
 14991,
 15006,
 15010,
 15025,
 15029,
 15044,
 15048,
 15063,
 15067,
 15082,
 15086,
 15101,
 15105,
 15120,
 15124,
 15139,
 15143,
 15158,
 15162,
 15177,
 15181,
 15197,
 15201,
 15216,
 15220,
 15235,
 15239,
 15254,
 15258,
 15273,
 15277,
 15292,
 15296,
 15311,
 15315,
 15330,
 15334,
 15349,
 15353,
 15369,
 15372,
 15387,
 15391,
 15406,
 15410,
 15425,
 15429,
 15444,
 15448,
 15463,
 15467,
 15482,
 15486,
 15501,
 15505,
 15520,
 15524,
 15539,
 15543,
 15558,
 15561,
 15575,
 15579,
 15594,
 15598,
 15613,
 15617,
 15632,
 15636,
 15651,
 15655,
 15670,
 15674,
 15689,
 15693,
 15708,
 15712,
 15727,
 15731,
 15746,
 15750,
 15765,
 15769,
 15784,
 15788,
 15803,
 15807,
 15822,
 15826,
 15841,
 15845,
 15861,
 15865,
 15880,
 15884,
 15899,
 15903,
 15918,
 15923,
 15938,
 15942,
 15957,
 15961,
 15976,
 15980,
 15995,
 15999,
 16014,
 16018,
 16033,
 16037,
 16052,
 16056,
 16071,
 16075,
 16090,
 16094,
 16107,
 16111,
 16126,
 16130,
 16145,
 16149,
 16163,
 16167,
 16182,
 16185,
 16200,
 16204,
 16219,
 16223,
 16238,
 16242,
 16257,
 16261,
 16276,
 16280,
 16295,
 16299,
 16313,
 16317,
 16332,
 16335,
 16350,
 16354,
 16369,
 16373,
 16388,
 16392,
 16407,
 16411,
 16426,
 16430,
 16445,
 16448,
 16463,
 16467,
 16481,
 16485,
 16500,
 16504,
 16518,
 16522,
 16537,
 16541,
 16556,
 16560,
 16575,
 16579,
 16594,
 16598,
 16613,
 16617,
 16632,
 16636,
 16651,
 16655,
 16670,
 16674,
 16689,
 16693,
 16708,
 16712,
 16725,
 16729,
 16744,
 16748,
 16762,
 16765,
 16780,
 16784,
 16799,
 16803,
 16818,
 16822,
 16837,
 16841,
 16856,
 16860,
 16874,
 16878,
 16893,
 16897,
 16912,
 16915,
 16930,
 16934,
 16949,
 16953,
 16968,
 16972,
 16987,
 16991,
 17006,
 17010,
 17025,
 17029,
 17044,
 17048,
 17062,
 17066,
 17081,
 17084,
 17099,
 17103,
 17118,
 17122,
 17137,
 17141,
 17156,
 17160,
 17175,
 17179,
 17194,
 17198,
 17213,
 17217,
 17231,
 17235,
 17250,
 17255,
 17270,
 17274,
 17289,
 17293,
 17308,
 17312,
 17327,
 17331,
 17346,
 17350,
 17365,
 17369,
 17384,
 17388,
 17404,
 17408,
 17424,
 17427,
 17442,
 17445,
 17460,
 17464,
 17479,
 17483,
 17498,
 17502,
 17517,
 17521,
 17536,
 17540,
 17555,
 17559,
 17574,
 17578,
 17593,
 17597,
 17612,
 17616,
 17631,
 17635,
 17650,
 17654,
 17669,
 17673,
 17688,
 17692,
 17707,
 17711,
 17726,
 17730,
 17745,
 17749,
 17764,
 17767,
 17782,
 17786,
 17802,
 17806,
 17821,
 17825,
 17840,
 17844,
 17859,
 17863,
 17878,
 17882,
 17897,
 17901,
 17916,
 17920,
 17935,
 17939,
 17954,
 17958,
 17973,
 17977,
 17992,
 17996,
 18011,
 18015,
 18029,
 18033,
 18048,
 18052,
 18067,
 18071,
 18086,
 ...]

In [72]:
searcher=searcher[1:]

In [73]:
searcher=searcher[1:]

In [75]:
import numpy as np

In [76]:
searcher=np.array(searcher)

In [77]:
i =searcher[0]
j = searcher[1]

In [79]:
filt = df1.contains(messages,na=False)

AttributeError: 'DataFrame' object has no attribute 'contains'

In [80]:
filt = df1['Unnamed: 0'].str.contains(messages,na=False)

In [81]:
df7 = df1[filt]

In [82]:
df7

,Unnamed: 0.1,Unnamed: 0,maildir/
12,14,Name\t\t\tNew Title\t\t\t\tEffective Date\t\t\...,NaN
13,15,Floyd,Jodie\t\tSr Cust Svc Rep (no change)\t\t7/16/...
14,16,Buehler,Craig\t\tSr Mkt/Sup Analyst (no change)\t\t7/...
15,17,Wagoner,Mike\t\tTeam Advisor - Gas Control\t\t7/1/01\...
16,18,Clapper,Karen\t\tSr Cust Svc Rep\t\t\t8/1/01\t\t\t\tYes
...,...,...,...
6322587,6597105,> ps If anybody has seen my Carolina shirt,my cell phone charger
6322588,6597106,> American Express card and/or my voice,please bring them to my wedding
6322589,6597107,> too.,NaN
6322590,6597108,>,NaN
6322591,6597109,> > -----Original Message-----,NaN

In [83]:
selection=df7['Unnamed: 0'] #Select
selection = pd.DataFrame(selection)
selection=selection.rename(columns={"Unnamed: 0": "Message"}) # Rename cols

In [84]:
df5 = df3.append(selection, ignore_index=False) # append to my df
df5 = df5.sort_index() # sort index

C:\Users\amcfa\AppData\Local\Temp\ipykernel_9580\3117147207.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df5 = df3.append(selection, ignore_index=False) # append to my df

In [85]:
df5.head(50)

,Message,Day,Date_and_time
0,0,Date: Fri,14 Sep 2001 14:05:43 -0700 (PDT)
12,Name\t\t\tNew Title\t\t\t\tEffective Date\t\t\...,NaN,NaN
13,Floyd,NaN,NaN
14,Buehler,NaN,NaN
15,Wagoner,NaN,NaN
16,Clapper,NaN,NaN
17,Greaney,NaN,NaN
18,Wilkens,NaN,NaN
19,Minton,NaN,NaN
20,Cox,NaN,NaN
21,Hanagriff,NaN,NaN
22,Thanks,NaN,NaN
23,MS,NaN,NaN
25,27,Date: Mon,10 Sep 2001 10:33:15 -0700 (PDT)
36,Thanks,NaN,NaN
37,Maggie,NaN,NaN
38,43,Date: Mon,20 Aug 2001 12:34:19 -0700 (PDT)
52,\tThe Fairmont Kansas City,NaN,NaN
53,\t401 Ward Parkway,NaN,NaN
54,\tKansas City,NaN,NaN
57,Your reservations are confirmed,NaN,NaN
58,Sharon Brown,NaN,NaN
59,ETS Gas Control,NaN,NaN
60,713-853-5660,NaN,NaN
61,67,Date: Thu,5 Jul 2001 08:35:29 -0700 (PDT)
72,\tSharon,NaN,NaN
73,\tlist. In talking with Bob Stevens it sounds...,NaN,NaN
74,\tand more business on NNG and he felt we shou...,NaN,NaN
75,\tSemco,NaN,NaN
76,\tDave Tyler,NaN,NaN
77,\tManager of Regulatory Affairs and Gas Services,NaN,NaN
78,\tdave.tyler@semcoenergy.com,NaN,NaN
79,\tThanks. Lynn,NaN,NaN
80,88,Date: Thu,26 Jul 2001 08:16:14 -0700 (PDT)
91,Attached is a draft of the agenda for the Wint...,NaN,NaN
92,slb,NaN,NaN
93,Sharon Brown,NaN,NaN
94,ETS Gas Control,NaN,NaN
95,713-853-5660,NaN,NaN
96,105,Date: Wed,3 Oct 2001 12:28:17 -0700 (PDT)
109,Attached are two follow-up documents from Shel...,NaN,NaN
110,reference to the 2001 Winter Operations Meetin...,NaN,NaN
111,Sharon Brown,NaN,NaN
112,ETS Gas Control,NaN,NaN
113,713-853-5660,NaN,NaN
114,124,Date: Thu,27 Sep 2001 06:37:23 -0700 (PDT)
125,-----Original Message-----,NaN,NaN
128,"\tdown and review what you have a put a ""blurb...",NaN,NaN
130,-----Original Message-----,NaN,NaN
133,-----Original Message-----,NaN,NaN

In [ ]:
df5.to_csv("Filtering_step_2.csv")